<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.dime.mobile"
    android:versionCode="1"
    android:versionName="0.9" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:name=".DimeClient"
        android:icon="@drawable/logo_black"
        android:label="@string/app_name"
        android:theme="@style/dimeTheme" >
        
        <!-- login -->
        <activity
            android:name=".view.Activity_Login"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- login -->
        
        <!-- main -->
        <activity
            android:name=".view.Activity_Main"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <!-- main -->

        <!-- people -->
        <activity
            android:name=".view.people.TabActivity_People"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.people.ListActivity_Person"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.people.ListActivity_Group"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.people.TabActivity_Person_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.people.ListActivity_Person_Profile"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.people.ListActivity_Person_Data"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.people.ListActivity_Person_Livepost"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.people.ListActivity_Group_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.people.TabActivity_Group_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <!-- people -->


        <!-- data -->
        <activity
            android:name=".view.data.TabActivity_Data"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.data.ListActivity_Resource"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.data.ListActivity_Databox"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.data.TabActivity_Databox_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.data.ListActivity_Databox_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.data.Activity_Resource_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.data.TabActivity_Resource_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>

        <!-- data -->


        <!-- communication -->
        <activity
            android:name="eu.dime.mobile.view.communication.TabActivity_Communication"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dime.mobile.view.communication.ListActivity_Livepost"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dime.mobile.view.communication.TabActivity_Livepost_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dime.mobile.view.communication.Activity_Livepost_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <!-- communicate -->


        <!-- myprofile -->
        <activity
            android:name=".view.myprofile.TabActivity_Profile_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.myprofile.ListActivity_Profile"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.myprofile.TabActivity_Myprofile"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.myprofile.ListActivity_Profile_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <!-- myprofile -->


        <!-- places -->
        <activity
            android:name=".view.places.TabActivity_Place"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.places.ListActivity_Place"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.places.TabActivity_Place_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.places.Activity_Place_Detail"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <!-- places -->


        <!-- situations -->
        <activity
            android:name=".view.situations.TabActivity_Situations"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.situations.ListActivity_Situations"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.situations.ListActivity_Activities"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <!-- situations -->


        <!-- notifications -->
        <activity
            android:name=".view.notifications.TabActivity_Notifications"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.notifications.ListActivity_Notifications"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <!-- notifications -->


        <!-- settings -->
        <activity
            android:name=".view.settings.TabActivity_Settings"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.settings.Activity_Settings_General"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.settings.ListActivity_Settings_Services"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.settings.Activity_Settings_Rules"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <!-- settings -->


        <!-- dialogs -->
        <activity
            android:name="eu.dime.mobile.view.dialog.Activity_Share_Dialog"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dime.mobile.view.dialog.Activity_Share_New_Livepost_Dialog"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dime.mobile.view.dialog.Activity_Unshare_Dialog"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dime.mobile.view.dialog.Activity_Edit_Item_Dialog"
            android:label="@string/app_name"
            android:noHistory="true"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dime.mobile.view.dialog.Activity_Account_Configuration_Dialog"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dime.mobile.view.dialog.ListActivity_Public_Search_Dialog"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.dime.mobile.view.dialog.ListActivity_Merge_Dialog"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <category android:name="android.intent.category.ALTERNATIVE" />
            </intent-filter>
        </activity>
        <!-- settings -->


        <!-- Activity for share intents -->
        <activity
            android:name="eu.dime.mobile.view.UploadPictureToPS"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/Theme.Transparent" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
    </application>

</manifest>